<div class="container">

  <button class="btn btn-primary" type="button"  (click)="onviewMatch()"> Generate</button>
  <div  *ngIf="alert"  class="alert alert-danger" role="alert">Veuillez rentrer un nombre d'equipe</div>
<nav class="nav nav-bar"  >

 <table class="table table-striped" *ngIf="!alert" >

  <tbody>
  <tr>
    <th scope="row">Upcoming matches</th>

    </tr>

    <tr *ngFor="let p of group1Name  let i=index" >

      <td >{{ p  }}   <i class="fas fa-basketball-ball fa-2x"></i> {{group2Name[i]}} </td>

    </tr>
</tbody>
</table>
</nav>

</div>
<style>
</style>
