<app-header></app-header>

<div class="container">
<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <h2>new</h2>
    <form [formGroup] =" TeamForm"   (ngSubmit) = "onSaveTeam()">
        <div class="form-group">
          <label for="team">Welecom on the F&S competition registering application</label>
          <input type="text" placeholder=" Enter the team name to register"  id="team" class="form-control"  formControlName="team">
        </div>

        <button class="btn btn-success"   type="submit">Register</button>

        <div  *ngIf="alert"  class="alert alert-danger" role="alert">this team already exists </div>
    </form>
    <table class="table table-hover" *ngIf="teams">

        <tbody>
        <tr>
          <th  scope="row">Registered Teams</th>
        </tr>

        <tr  *ngFor="let p of teams">
          <td>{{p.team}}      <i class="fas fa-basketball-ball"></i> </td>

        </tr>
      </tbody>
      </table>


           </div>
</div>
<div class="row" style="width: 30%;">
  <app-list-team></app-list-team>
</div>
</div>





<style>


.container{
        display: flex;
      }
      .row {
        flex: 1;
        padding:1m ;

      }
</style>
